*.o
*.trs
*.log
configure
config.status
config.guess
config.sub
Makefile
Makefile.in
depcomp
.deps
autom4te.cache
aclocal.m4
test-driver
tests/test
.dirstamp
missing
install-sh
example
settings.json
build
out
